@font-face {
  font-family: 'iconfont'; /* Project id 4487942 */
  src: url('iconfont.ttf?t=1712151858306') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: '\e7a0';
}

.icon-aixin-xian:before {
  content: '\e64d';
}

.icon-back:before {
  content: '\e6db';
}

.icon-share:before {
  content: '\e748';
}

.icon-top:before {
  content: '\e681';
}

.icon-rili:before {
  content: '\e89e';
}

.icon-search:before {
  content: '\e72b';
}
